* {
  margin: 0;
  padding: 0;
}

.text {
  margin-top: 25px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.NavBar {
  background-color: black;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.NavBar #nav-list {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavBar #nav-list li {
  float: left;
  text-transform: uppercase;
  font-family: 'Nanum Gothic', sans-serif;
}

.NavBar #nav-list a {
  display: block;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
}

.NavBar #nav-list a:hover {
  color: whitesmoke;
}

.LandingPage {
  margin-top: 5vh;
  background:#000 url("images/room_1.jpg");
  background-size: cover;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage .landing-container {
  margin: 0 auto;
  margin-bottom: 100px;
  height: 275px;
  width: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.LandingPage .company-name {
  font-family: 'Nanum Gothic', cursive;
  font-weight: bold;
  font-size: 4em;
  color: white;
	transform: scale(1);
  animation: pulse-black 2s infinite;
  animation-timing-function: ease-in;
  text-decoration: none;
}

.LandingPage .company-name:hover {
  animation-play-state: paused;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.ProductList h2 {
  font-size: 48px;
  font-family: 'Nanum Gothic', cursive;
}

.ProductList .section .gallery {
  margin: 25px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 55vw);
  grid-gap: 15px;
}

.product-price {
  margin-right: 15px;
  float: right;
}

.product-name {
  margin-left: 15px;
  float: left;
}

@media only screen and (min-width: 600px) {
  .ProductList .section .gallery {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30vw);
    grid-gap: 5px;
  }

  .product-price {
    margin-right: 0px;
    float: right;
  }
  
  .product-name {
    margin-left: 0px;
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  .ProductList .section .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 15vw);
    grid-gap: 5px;
  }

  .Collections .section .gallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 25vw);
    grid-gap: 0px;
  }

  .product-price {
    margin-right: 0px;
    float: right;
  }
  
  .product-name {
    margin-left: 0px;
    float: left;
  }
}

.section .gallery__img {
  padding: 5px;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.section-content {
  margin-top: 50px;
}

.figure {
  margin: 0 auto;
}

.product-name-container, .product-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  padding: 10px;
}

.product-name {
  font-size: 24px;
  font-weight: 100;
}

hr {
  opacity: 0.5;
  width: 20%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

textarea {
  font-size: 16px;
  height: 10em;
  width: 75%;
  resize: none;
}

.name-input, .email-input {
  width: 40%;
}

.submit {
  margin-top: 10px;
  width: 10%;
  font-size: 16px;
}