* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.NavBar {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.NavBar #nav-list {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavBar #nav-list .logo {
  width: 5%;
  float: left;
}

.NavBar #nav-list li {
  float: left;
  text-transform: uppercase;
  font-family: 'Nanum Gothic', sans-serif;
}

.NavBar #nav-list a {
  display: block;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
}

.NavBar #nav-list a:hover {
  color: blue;
}

/* Defining each sectino background and styles 
* --------------------------------------- */
#section0 {
  background:#000 url("./images/room_1.jpg");
  background-size: cover;
}

.intro-container {
  margin: 0 auto;
  margin-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36vh;
  width: 27%;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: black;
}

.company {
  font-family: 'Nanum Gothic', cursive;
  font-size: 48px;
}