* {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.NavBar {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
}

.NavBar #nav-list {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavBar #nav-list .logo {
  width: 5%;
  float: left;
}

.NavBar #nav-list li {
  float: left;
  text-transform: uppercase;
  font-family: 'Nanum Gothic', sans-serif;
}

.NavBar #nav-list a {
  display: block;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
}

.NavBar #nav-list a:hover {
  color: blue;
}
